
.hide{
    display: none;
}
.modal {
    --bs-modal-margin: 11.75rem;
}
.show{
    display: flex;
    justify-content: center;
}
.showBlock{
    display: block;
}
.form-control
{
  border-radius: 0px;
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem #D9D9D9;
    border:#D9D9D9;
}
.btn{
    border-radius: 0px;
    --bs-btn-font-family: 'Roboto', sans-serif;
}
.headerFont{
    font-family:'Roboto', sans-serif ;
    font-weight: bold;
}
.btn-primary{
    -bs-btn-color: #fff;
    --bs-btn-bg: #0FA374;
    --bs-btn-border-color: #0FA374;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #278b6c;
    --bs-btn-hover-border-color: #0FA374;
    --bs-btn-focus-shadow-rgb: rgb(49,132,253);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0FA374;
    --bs-btn-active-border-color: #0FA374;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(209, 55, 55, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0FA374;
    --bs-btn-disabled-border-color: #0FA374;
}

.para{
    font-size: 15px;
}
.h{
    font-size: 17px;
}

#toast {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 999;
  }

  .plain-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color:#0FA374;
     font-size:12px;
}
  

  
